*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.cardswrapper{
    width: 100%; 


    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 130px;
    height: 130px;
    cursor: pointer;
}
.headerwrapper{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: right;

}
header{
    font-size: 20px;
    padding: 40px 0px;
}

html{
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100%;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274__480.jpg');
}